<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DTI Calculation Result</title>
</head>
<body>
    <h1>DTI Calculation Result</h1>
    <p>Annual Interest: <span th:text="${dtiCalcResponse.getDtiCalcResults[0].annualInterestRepayment}"></span></p>
    <p>DTI Ratio: <span th:text="${dtiCalcResponse.getFinalDtiRatio()}"></span></p>
    <div class="result" th:if="${dtiCalcResponse != null}">
        <h2>결과</h2>
        <p th:text="'주택담보대출 ' + ${#numbers.formatInteger(dtiCalcResponse.getDtiCalcResults[0].principal, 1, 'COMMA')} + '원의 경우'"></p>
        <p th:text="'(' + ${dtiCalcResponse.getDtiCalcResults[0].term} + '년' + ', 원리금균등 기준)'"></p>
        <p th:text="'연소득은 ' + ${#numbers.formatInteger(dtiCalcResponse.annualIncome, 1, 'COMMA')} + '원이므로'"></p>
        <p th:text="'DTI는 약 ' + ${#numbers.formatInteger(dtiCalcResponse.finalDtiRatio, 2, 'COMMA' )} + '%로 예상됩니다.'"></p>
        <p class="section-title">연원금 상환액</p>
        <p th:text="${#numbers.formatInteger(dtiCalcResponse.getDtiCalcResults[0].annualPrincipalRepayment,1,'COMMA')} + '원'"></p>
        <p class="section-title">연이자 상환액</p>
        <p th:text="${#numbers.formatInteger(dtiCalcResponse.getDtiCalcResults[0].annualInterestRepayment,1,'COMMA')} + '원'"></p>
        <p class="section-title">연소득</p>
        <p th:text="${#numbers.formatInteger(dtiCalcResponse.annualIncome,1,'COMMA')} + '원'"></p>
        <p class="section-title">DTI</p>
        <p th:text="${#numbers.formatInteger(dtiCalcResponse.finalDtiRatio,2,'COMMA')} + '%'"></p>
    </div>
</body>
</html>
